body { 
    background: #fff; 
    color: black; 
    font-family:  Arial, Helvetica, sans-serif;
    background: repeating-radial-gradient(#f82626, #ed397b); 
} 

#title { 
    margin-top: 5px; 
    font-size: 50px; 
    font-family:'Times New Roman', Times, serif;
    text-align: center; 
    position: sticky;
} 

main {
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
    height: 900px;
    margin: auto;
    padding: 0 45px 40px; 
    font-size: 20px;
    position: sticky;
}

#content {
    overflow: hidden; 
}

.newTasks {
    float: left;
    width: 25%;
    height: 15%;
    text-align: center;
}

.toDoTasks {
    display: inline-block;
    width: 25%; 
    vertical-align: top;
    text-align: center;
    transform: translateX(50%);
}

.completedTasks {
    float: right;
    width: 25%;
    text-align: center;
}

ul { 
    margin: auto; 
    padding: 0; 
} 

input#new-task { 
    height: 20px;
    font-size: 16px;
    float: left;
    width: 118px; 
} 

li {     
    overflow: hidden; 
    clear: both; 
} 

li>input[type="checkbox"] { 
    margin: auto; 
    position: relative; 
} 

li>label { 
    display: inline-flex;
    font-size: 18px; 
    line-height: 50px; 
    width: 50px; 
    padding: 0 0 0 11px; 
}  

li>input[type="text"] { 
    height: 20px;
    font-size: 16px;
    width: 150px; 
    display: flex; 
} 

li>.delete:hover { 
    color: #CF2323; 
} 

#completed-tasks label { 
    text-decoration: line-through; 
    color: black; 
} 

ul li input[type=text] { 
    display: none; 
} 

ul li.editMode input[type=text] { 
    margin: 0 25px;
    display: inline-flex; 
    width: 125px;
} 

ul li.editMode label { 
    display: none; 
} 

h3 {
    font-weight: 600;
    background-color: yellow;
}

li, h3 { 
    list-style:disc; 
} 

input, button { 
    width: auto;
    outline: none; 
} 

button { 
    background-color: grey; 
    color: white; 
    text-align: center; 
    margin: auto; 
    font-size: 13px; 
    border-radius: 10%; 
} 

button:hover { 
    background: black; 
    text-decoration: none; 
    cursor: pointer; 
}
