<!DOCTYPE html>
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>To-do list</title> 
    <link rel="stylesheet" href="static/style.css">
</head> 
<body> 
    <h1> welcome back. </h1>
    <main>
        <section id="content">
            <div class="newTasks">
                <h3> Create A New Task </h3>
                <input id="new-task" type="text">
                <button id="addButton">Add</button>
            </div>
            
            <div class="toDoTasks" >
            <h3 class="label"> Tasks To Do </h3>
            <ul id="incomplete-tasks"> </ul> 
            </div>
        
        <div class="completedTasks">
            <h3> Completed Tasks </h3>
            <ul id="completed-tasks"> </ul> 
        </div>
        </section>
        <section id="outerButtons">
            <div class="outerButtons">
                <button id="clear"> 
                    <p>Clear</p> 
                </button>
                <form action="{{ url_for('signOut')}}">
                <button id="sign-out">
                    <p>Sign Out</p>
                </button id="dialog">
                </form>
            </div>
        </section>
    <!-- <div class="container"> 
        <div class="section1"> 
            <h1 id="title">TO DO LIST</h1> 
            <p> 
                <label for="new-task">Create New Task</label> 
                <input id="new-task" type="text"> 
                <button id="addButton">Add</button>
            </p> 
        </div>   -->
        <!-- <div class="section2"> 
            <h3>To Do</h3> 
            <ul id="incomplete-tasks"> </ul> 
        </div> 
        <div class="section3"> 
            <h3>Completed</h3> 
    <ul id="completed-tasks"> 
    </ul> 
</div>  -->
    <!-- <div class="section5"> 
        <button id="clear"> 
            <p>Clear</p> 
        </button>
        <form action="{{ url_for('signOut')}}">
            <button id="sign-out">
                <p>Sign Out</p>
            </button id="dialog">
        </form>
    </div> -->
    </main>
    <script src="static/script.js"></script> 
</body>
</html>