<!DOCTYPE html>
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title> Log In </title> 
    <link rel="stylesheet" href="static/style2.css"> 
</head>
<body>
    <div class="container">
        <div>
            <h1>Welcome!</h1>
            <h2>Please log in or sign up below.</h2>
        </div>
        <form action="{{ url_for('auth')}}" method="POST">
            <div class="section1"> 
                <input id="username" name="username" type="username"> 
            </div>
            <div class="section2">
                <input id="password" name="password" type="password">
            </div> 
            <div class="switch">
                <input id="checkbox_toggle" class="check" name="checkbox" type="checkbox">
                <label class="checkbox" for="checkbox_toggle">
                  <div class="slide" onclick="toggleSwitch()">
                    <div class="text left">Sign In</div>
                    <div class="toggle"></div>
                    <div class="text right">Sign Up</div>
                  </div>
                </label>
            </div>
            <button class="button" type="submit">Enter</button>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </form>
    </div>
    <script src="static/script.js"></script> 
</body>
</html>